# RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# OS
.DS_Store
**/.DS_Store

# Large/local project assets not kept in Git
Figures/
metadata/
results/
Supplementary Tables/
Supplementary Figures/
